footer {
  display: inline-block;
  width: 100%;
  height: fit-content;
  margin-top: auto;
  padding: 25px 0;
  background-color: var(--footer_background_color);
}

.footer_title {
  width: 200px;
  margin-left: 16px;
}

.footer_rights {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: var(--footer_rights_color);
}

.footer_link {
  width: min-content;
  text-decoration: none;
  color: var(--footer_link_color);
  &:hover {
    text-decoration-line: underline;
  }
  &:active {
    text-decoration-line: none;
    color: var(--footer_rights_color);
  }
}
